.App {
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
  background: linear-gradient(rgba(17, 17, 17, 0.75), rgba(17, 17, 17, 0.75)),
    url('./images/dnd.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 150vh;
}
